@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

html
{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1em;
    text-transform: lowercase;
    letter-spacing: 2px;
}

header ul {
    position: fixed;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: white;
    color: #2b1055;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522,transparent);
    z-index: 1000;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon
{
    mix-blend-mode: screen;
}

section img#mountain_front
{
    z-index: 10;
}

#text
{
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn
{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    transform: translateY(100px);
}

.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p
{
    font-size: 1em;
    margin-bottom: 10px;
    color: #fff;
    
}

.akademik
{
    background: #1c0522;
    position: relative;
    padding-left: 100px;
    padding-bottom: 100px;
    color: white;
}

#tahun
{
    padding-left: 40px;
    border-spacing: 0px;
}

.portfolio
{
    background: #1c0522;
    position: relative;
    padding-left: 100px;
    padding-bottom: 100px;
    color: white;
}

.portfolio img
{
    position: relative;
    width: 400px;
}

.portfolio #al-fatih
{
    position: absolute;
    font-size: 1.5em;
    right: 10%;
    top: 300px;
    text-align: center;
}

.portfolio #icaf
{
    position: absolute;
    font-size: 1.5em;
    right: 7.5%;
    top: 925px;
    text-align: center;
}

#contact
{
    background: #1c0522;
    position: relative;
    padding-left: 100px;
    padding-bottom: 100px;
    color: white;
}

#contact img
{
    position: relative;
    width: 40px;
}

#wa
{
    position: relative;
    width: 60px;
}

#ig
{
    position: absolute;
    font-size: 1em;
    left: 150px;
    top: 55px;
    text-align: center;
}

#linkedin
{
    position: absolute;
    font-size: 1em;
    left: 150px;
    top: 105px;
    text-align: center;
}

#wa
{
    position: absolute;
    font-size: 1em;
    left: 150px;
    top: 152px;
    text-align: center;
}

#line
{
    position: absolute;
    font-size: 1em;
    left: 150px;
    top: 197px;
    text-align: center;
}